* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'GothicA1-Bold';
    color: var(--main-color);
}
@font-face {
    src: url(fonts/GothicA1-Medium.ttf);
    font-family: "GothicA1-Medium";
}
@font-face {
    src: url(fonts/GothicA1-Bold.ttf);
    font-family: "GothicA1-Bold";
}
@font-face {
    src: url(fonts/GothicA1-Black.ttf);
    font-family: "GothicA1-Black";
}
:root {
    --main-color: #091569;
    --gray-color: #C1C5C4;
    --white-color: #ffffff;
    --black-color: #1e1e1e;
}


h3 {
    font-family: "GothicA1-Black";
}


/* --------------- main --------------- */
#main {
    position: relative;
    width: 100%;
    height: 979px;
    overflow: hidden;
}
.main-background::before {
    content: '';
    display: block;
    background-image: url(img/main-backgroung-peace.png);
    width: 50000vw;
    height: 50000vh;
    transform: rotate(15deg) translate(-50%, 0%);
    animation: to-top infinite 2000s linear;
    background-color: #a5a5a5;
}
.main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-316px, -126px);
}
.main-logo>span {
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    clip-path: inset(50%);
}
@keyframes to-top {
    from {
        
        transform: rotate(15deg) translate(-50%, 0%);
    }
    to{
        transform: rotate(15deg) translate(-50%, -20%);
    }
}


/* --------------- nav-bar --------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px; background-color: var(--white-color);
    z-index: 100;
    transition: 0.5s;
    opacity: 0;
}
.nav-bar {
    margin: 0 auto;
    max-width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar>.nav-logo {
    margin-left: 16px;
}
.nav-bar-menu {
    display: flex;
    width: 440px;
    justify-content: space-between;
}

.nav-bar-menu>li>a {
    font-size: 20px;
    color: var(--main-color);
}
.nav-bar-menu>li>a:hover {
    cursor: pointer;
    color: var(--gray-color);
    transition: 0.2s;
}
.nav-bar>label {
    display: flex;
    align-items: center;
    width: 308px;
    height: 36px;
    border: 2px solid #091569;
    box-sizing: border-box;
    opacity: 0.7;
    margin-right: 16px;
}
.nav-bar>label>input {
    border: none;
    width: 100%;
    height: 32px;
    outline: none;
    padding-left: 8px;
}
.nav-bar>label>figure {
    display: flex;
    align-items: center;
    height: 32px;
}
.nav-bar>label>figure:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* --------------- business-goal --------------- */
.business-goal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 979px;
    overflow: hidden;
}
.business-goal>h3 {
    margin: 0 auto;
    padding-top: 207px;
    padding-bottom: 32px;
    width: 1200px;
    font-size: 36PX;
}
.business-goal-moniter {
    position: relative;
    width: 100vw;
    height: 558px;
    overflow: hidden;
}
.business-goal-slide {
    display: flex;
    width: 500vw;
}
.goal-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 558px;
}
.goal-slide>p {
    color: var(--white-color);
    font-size: 48px;
    max-width: 1280px;
    text-align: center;
}
.goal-slide-1 {
    background-image: url(img/goal-1.png);
    background-size: 100vw 558px;
    background-repeat: no-repeat;
    background-position: center;
}
.goal-slide-2 {
    background-image: url(img/goal-2.png);
    background-size: 100vw 558px;
    background-repeat: no-repeat;
    background-position: center;
}
.goal-slide-3 {
    background-image: url(img/goal-3.png);
    background-size: 100vw 558px;
    background-repeat: no-repeat;
    background-position: center;
}
.goal-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-600px, -26px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}
.goal-buttons figure:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}


/* --------------- what-is-taekwondo --------------- */
.what-is-taekwondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 979px;
}
.what-is-contents {
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.taekwondo-is {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 320px;
    background-image: url(img/taekwondo-is.png);
}
.taekwondo-is>.sub {
    display: none;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 320px;
    background-color: var(--main-color);
    animation-name: box;
    animation-duration: 0.7s;
}
.taekwondo-is>.sub>p {
    color: var(--white-color);
    font-size: 40px;
    animation-name: text;
    animation-duration: 1.2s;
}
.taekwondo-is>h3 {
    display: block;
    font-size: 48px;
    margin-left: 16px;
}
.taekwondo-is:hover {
    cursor: pointer;
}
.taekwondo-is:hover>.sub {
    display: flex;
}
.taekwondo-is:hover>h3 {
    display: none;
}
.what-as {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 320px;
    margin-top: 16px;
}
.what-as h3 {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 40px;
}
.what-as .sub {
    display: none;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 320px;
    background-color: var(--main-color);
    animation-name: box;
    animation-duration: 0.5s;
}
.what-as .sub>p {
    color: var(--white-color);
    font-size: 20px;
    animation-name: text;
    animation-duration: 1s;
}
.as-something {
    display: flex;
    align-items: center;
    width: 390px;
    height: 320px;
}
.as-work-out {
    background-image: url(img/as-work-out.png);
}
.as-fight {
    background-image: url(img/as-fight.png);
}
.as-education {
    background-image: url(img/as-education.png);
}
.as-something:hover {
    cursor: pointer;
}
.as-something:hover .sub {
    display: flex;
}
.as-something:hover h3 {
    display: none;
}
@keyframes box {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes text {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* --------------- taekwondo-tech --------------- */
.taekwondo-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 979px;
}
.taekwondo-tech>h3 {
    font-size: 56px;
}
.taekwondo-tech-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 240px;
}
.taekwondo-tech-menu>li {
    font-size: 28px;
    transition: 0.2s;
    color: var(--gray-color);
}
.taekwondo-tech-menu>li:hover {
    cursor: pointer;
    color: var(--main-color);
}
.tech-menu-contents {
    display: flex;
    width: 1200px;
    height: 338px;
    background-color: var(--main-color);
}
.tech-menu-moniter {
    width: 600px;
    height: 338px;
    overflow: hidden;
}
.tech-menu-slide {
    width: 600px;
    height: 338px;
    position: relative;
}
.menu-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    transition: 0.5s;
}
.menu-slide>h4 {
    font-size: 48px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 40px;
}
.menu-slide>p {
    font-size: 24px;
    color: var(--white-color);
    text-align: center;
}
.tech-video-moniter {
    width: 600px;
    overflow: hidden;
}
.tech-video-slide {
    width: 600px;
    height: 338px;
    position: relative;
}
.video-slide {
    position: absolute;
    top: 0;
    left: 0%;
    transition: 0.5s;
}
video {
    width: 600px;
    height: 338px;
}
.in-out-left {
    transform: translateX(-200px);
    opacity: 0;
}
.in-out-right {
    transform: translateX(200px);
    opacity: 0;
}
.main-color {
    color: var(--main-color);
}
.gray-color {
    color: var(--gray-color);
}


/* --------------- more-menu --------------- */
.more-menu {
    display: flex;
    justify-content: center;
    padding: 200px 0;
}
.more-menu h3 {
    font-size: 28px;
    margin-bottom: 56px;
}
.more-menu-contents {
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.other-menu {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 80px;
}
.other-menu>li {
    background-image: url(img/other-menu.png);
    width: 390px;
    height: 140px;
}
.other-menu>li:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.other-menu>li>a {
    display: block;
    width: 390px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 28px;
    color: var(--white-color);
}

.performance-video-menu {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 80px;
}
.performance-video-menu>li:first-child {
    background-image: url(img/menu-performance.png);
    width: 592px;
    height: 140px;
}
.performance-video-menu>li:last-child {
    background-image: url(img/menu-video.png);
    width: 592px;
    height: 140px;
}
.performance-video-menu>li:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.performance-video-menu>li>a {
    display: block;
    width: 592px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 28px;
    color: var(--white-color);
}

.associtaion {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-bottom: 80px;
}
.associtaion li:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.associtaion-menu-moniter {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 80px;
    overflow: hidden;
}
.associtaion-all-slide {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 480px;
}
.associtaion-slide {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}
.associtaion-slide>li {
    width: 288px;
    height: 80px;
}
.associtaion-slide>li>a {
    width: 288px;
    height: 80px;
}
.associtaion-buttons {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 40px;
    padding: 16px 0;
}
.associtaion-buttons>figure:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.sponser {
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.sponser-menu {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 80px;
}
.sponser-menu li:hover {
    opacity: 0.5;
    transition: 0.2s;
}


/* --------------- footer --------------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 320px;
    background-color: var(--main-color);
}
.footer-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.center-line {
    width: 2px;
    height: 80px;
    background-color: var(--white-color);
    opacity: 0.7;
}
.sns-icon {
    width: 392px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sns-icon li:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.footer-menu {
    width: 592px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-menu>li>a {
    color: var(--white-color);
    font-size: 16px;
    font-family: "GothicA1-Medium";
}
.footer-menu>li>a:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.sns-menu-copyright>p {
    font-size: 16px;
    font-family: "GothicA1-Medium";
}
.address {
    color: var(--white-color);
    margin-bottom: 20px;
}
.copyright {
    color: var(--gray-color);
}


/* --------------- go-to-main --------------- */
.go-to-main {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 0;
}
.go-to-main img {
    opacity: 0.8;
}
.go-to-main:hover {
    cursor: pointer;
}
.go-to-main:hover figure {
    opacity: 0.5;
    transition: 0.2s;
}