* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'GothicA1-Bold';
    color: var(--main-color);
}
@font-face {
    src: url(fonts/GothicA1-Medium.ttf);
    font-family: "GothicA1-Medium";
}
@font-face {
    src: url(fonts/GothicA1-Bold.ttf);
    font-family: "GothicA1-Bold";
}
@font-face {
    src: url(fonts/GothicA1-ExtraBold.ttf);
    font-family: "GothicA1-ExtraBold";
}
@font-face {
    src: url(fonts/GothicA1-Black.ttf);
    font-family: "GothicA1-Black";
}
:root {
    --main-color: #091569;
    --gray-color: #C1C5C4;
    --white-color: #ffffff;
}

h3 {
    font-family: "GothicA1-Black";
}


#main {
    position: relative;
    width: 100%;
    height: 979px;
    overflow: hidden;
}
.main-background::before {
    content: '';
    display: block;
    background-image: url(img/main-backgroung-peace.png);
    width: 400vw;
    height: 400vh;
    transform: rotate(15deg) translate(-50%, 0%);
    animation: to-top infinite 15s linear;
    background-color: #a5a5a5;
}
.main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-316px, -126px);
}
.main-logo>span {
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    clip-path: inset(50%);
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px; background-color: var(--white-color);
    z-index: 100;
}
.nav-bar {
    margin: 0 auto;
    max-width: 1280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar>.nav-logo {
    margin-left: 16px;
}
.nav-bar-menu {
    display: flex;
    width: 480px;
    justify-content: space-between;
}
.nav-bar-menu>li>a {
    font-size: 22px;
    color: var(--main-color);
}
.nav-bar-menu>li>a:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.nav-bar>label {
    display: flex;
    align-items: center;
    width: 308px;
    height: 36px;
    border: 2px solid #091569;
    box-sizing: border-box;
    opacity: 0.7;
    margin-right: 16px;
}
.nav-bar>label>input {
    border: none;
    width: 100%;
    height: 32px;
    outline: none;
    padding-left: 8px;
}
.nav-bar>label>figure {
    display: flex;
    align-items: center;
    height: 32px;
}


.business-goal {
    width: 100%;
    height: 979px;
}
.business-goal>h3 {
    margin: 0 auto;
    padding-top: 207px;
    padding-bottom: 32px;
    max-width: 1280px;
    font-size: 36PX;
}
.business-goal-moniter {
    position: relative;
    width: 100%;
    height: 558px;
    overflow: hidden;
}
.business-goal-slide {
    display: flex;
    width: 300%;
}
.goal-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 558px;
}
.goal-slide>p {
    color: var(--white-color);
    font-size: 48px;
    width: 1280px;
    text-align: center;
}
.goal-slide-1 {
    background-image: url(img/goal-1.png);
}
.goal-slide-2 {
    background-image: url(img/goal-2.png);
}
.goal-slide-3 {
    background-image: url(img/goal-333.png);
}
.goal-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-640px, -26px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
}
.goal-buttons figure:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}


.what-is-taekwondo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 979px;
    background-image: url(img/What-is-1.png);
    background-size: 100% 979px;
    background-repeat: no-repeat;
}
.what-is-contents {
    width: 1280px;
}
.what-as {
    display: flex;
    justify-content: space-between;
    padding-top: 400px;
    width: 840px;
}
.what-as>li {
    font-size: 48px;
    color: var(--gray-color);
}
.what-as>li:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white-color);
    transition: 0.2s;
}
.what-as-contents {
    padding-top: 20px;
    font-size: 40px;
}
.what-as-contents-1 {
    display: block;
}
.what-as-contents-2 {
    display: none;
}
.what-as-contents-3 {
    display: none;
}
.what-as-contents-4 {
    display: none;
}


.taekwondo-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 979px;
}
.taekwondo-tech>h3 {
    font-size: 56px;
}
.taekwondo-tech-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 220px;
}
.taekwondo-tech-menu>li {
    font-size: 20px;
}
.taekwondo-tech-menu>li:hover {
    cursor: pointer;
    font-family: "GothicA1-ExtraBold";
}
.tech-menu-contents {
    display: flex;
    height: 540px;
}
.tech-menu-moniter {
    width: 950px;
    height: 540px;
    overflow: hidden;
}
.tech-menu-slide {
    display: flex;
    width: 2850px;
}
.menu-slide {
    width: 950px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}
.menu-slide>h4 {
    font-size: 56px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 64px;
}
.menu-slide>p {
    font-size: 32px;
    color: var(--white-color);
    text-align: center;
}


.tech-video-moniter {
    width: 950px;
    overflow: hidden;
}
.tech-video-slide {
    width: 2850px;
    height: 540px;
    display: flex;
}
video {
    width: 960px;
}


.more-menu {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.more-menu h3 {
    font-size: 28px;
    margin-bottom: 56px;
}
.more-menu-contents {
    display: flex;
    flex-direction: column;
    width: 1280px;
}
.other-menu {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin-bottom: 80px;
}
.other-menu>li {
    background-image: url(img/other-menu.png);
    width: 416px;
    height: 140px;
}
.other-menu>li:hover {
    box-shadow: 10px 10px 10px var(--gray-color);
    transition: 0.2s;
}
.other-menu>li>a {
    display: block;
    width: 416px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 28px;
    color: var(--white-color);
}
.performance-video-menu {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin-bottom: 80px;
}
.performance-video-menu>li:first-child {
    background-image: url(img/menu-performance.png);
    width: 632px;
    height: 140px;
}
.performance-video-menu>li:last-child {
    background-image: url(img/menu-2.png);
    width: 632px;
    height: 140px;
}
.performance-video-menu>li:hover {
    box-shadow: 10px 10px 10px var(--gray-color);
    transition: 0.2s;
}
.performance-video-menu>li>a {
    display: block;
    width: 632px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 28px;
    color: var(--white-color);
}

.associtaion {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.associtaion-menu-moniter {
    width: 1280px;
    height: 80px;
    overflow: hidden;
}
.associtaion-all-slide {
    display: flex;
    width: 7680px;
}
.associtaion-slide {
    width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.associtaion-slide>li>a {
    width: 308px;
    height: 80px;
}
.associtaion-slide>li:hover a {
    background-color: #091569;
}
.associtaion-buttons {
    position: absolute;
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 40px;
    opacity: 0.7;
    display: none;
}

.sponser {
    display: flex;
    flex-direction: column;
    width: 1280px;
}
.sponser-menu {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 80px;
}
.sponser-menu li:hover {
    box-shadow: 10px 10px 10px var(--gray-color);
    transition: 0.2s;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: var(--main-color);
}
.footer-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 16px;
}
.center-line {
    width: 2px;
    height: 80px;
    background-color: var(--white-color);
    opacity: 0.7;
}
.sns-icon {
    width: 392px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sns-icon li:hover {
    opacity: 0.7;
    transition: 0.2s;
}
.footer-menu {
    width: 592px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-menu>li>a {
    color: var(--white-color);
    font-size: 16px;
    font-family: "GothicA1-Medium";
}
.footer-menu>li>a:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.sns-menu-copyright>p {
    font-size: 16px;
    font-family: "GothicA1-Medium";
}
.address {
    color: var(--white-color);
    margin-bottom: 20px;
}
.copyright {
    color: var(--gray-color);
}


@keyframes to-top {
    from {
        
        transform: rotate(15deg) translate(-50%, 0%);
    }
    to{
        transform: rotate(15deg) translate(-50%, -20%);
    }
}