@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InfinitySans-CondBoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-CondBoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-color: #091569;
    --gray-color: #C1C5C4;
    --white-color: #ffffff;
    --black-color: #1e1e1e;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'InfinitySans-RegularA1';
    color: var(--main-color);
}

body::-webkit-scrollbar {
    display:none;
}


/* ------------------------- header ------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    z-index: 100;
    background-color: var(--white-color);
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.nav-logo figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo img {
    width: 80%;
}
.nav-bar-menu {
    display: none;
}
.nav-bar-menu li {
    margin-left: 16px;
}


/* ------------------------- main ------------------------- */
#main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main-background::before {
    content: '';
    display: block;
    background-image: url(img/main-backgroung-peace.png);
    width: 50000vw;
    height: 50000vh;
    transform: rotate(15deg) translate(-50%, 0%);
    animation: to-top infinite 2000s linear;
    background-color: #a5a5a5;
}
.main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-logo img {
    width: 320px;
}
.main-logo>span {
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    clip-path: inset(50%);
}
@keyframes to-top {
    from {
        
        transform: rotate(15deg) translate(-50%, 0%);
    }
    to{
        transform: rotate(15deg) translate(-50%, -20%);
    }
}


section {
    width: 100%;
    height: 100vh;
}
h3 {
    font-family: 'InfinitySans-CondBoldA1';
    font-size: 24px;
    margin-bottom: 40px;
}
h4 {
    font-family: 'InfinitySans-CondBoldA1';
    font-size: 20px;
}


/* ------------------------- business-goal ------------------------- */
.business-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.business-goal-moniter {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.business-goal-slide {
    display: flex;
    width: 300%;
}
.goal-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
}
.goal-slide p {
    font-size: 20px;
    color: var(--white-color);
}
.goal-slide-1 {
    background-image: url(img/goal-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.goal-slide-2 {
    background-image: url(img/goal-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.goal-slide-3 {
    background-image: url(img/goal-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.goal-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
}
.goal-buttons figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.goal-buttons img {
    width: 70%;
}


/* ------------------------- business-goal ------------------------- */
.what-is-taekwondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.what-is-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    padding: 0 20px;
}
.what-is-contents h4 {
    padding-top: 8px;
}
.taekwondo-is {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 100px;
    background-image: url(img/taekwondo-is.png);
    background-size: 320px 100px;
    margin-bottom: 8px;
}
.what-as {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 100px;
}
.as-something {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.as-work-out {
    background-image: url(img/as-work-out.png);
    background-size: 100px 100px;
}
.as-sparring {
    background-image: url(img/as-fight.png);
    background-size: 100px 100px;
}
.as-education {
    background-image: url(img/as-education.png);
    background-size: 100px 100px;
}
.what-is-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00000050;
}
.as-something-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 96px;
    background-color: var(--main-color);
}
.as-something-modal p {
    font-size: 14px;
    color: var(--white-color);
}


/* --------------- taekwondo-tech --------------- */
.taekwondo-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.tech-menu-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}
.taekwondo-tech-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.taekwondo-tech-menu>li {
    font-family: 'InfinitySans-CondBoldA1';
    font-size: 16px;
    margin: 0 16px;
    transition: 0.2s;
    color: var(--gray-color);
}
.taekwondo-tech-menu>li:hover {
    cursor: pointer;
    color: var(--main-color);
}
.tech-video-moniter {
    width: 320px;
    height: 244px;
    overflow: hidden;
}
.tech-video-slide {
    width: 320px;
    height: 64px;
    position: relative;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.slide figure {
    width: 320px;
    height: 180px;
}
.slide img {
    width: 100%
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 64px;
    background-color: var(--main-color);
}
.about p {
    font-size: 12px;
    color: var(--white-color);
}
.in-out-left {
    transform: translateX(-200px);
    opacity: 0;
}
.in-out-right {
    transform: translateX(200px);
    opacity: 0;
}
.main-color {
    color: var(--main-color) !important;
}


/* --------------- more-menu --------------- */
.more-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.more-menu-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}
.other-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}
.other-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/other-menu.png);
    background-size: 100px 36px;
    width: 100px;
    height: 36px;
}
.other-menu>li>a {
    font-size: 12px;
    color: var(--white-color);
}

.performance-video-menu {
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.performance-video-menu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 37px;
}
.performance-video-menu>li:first-child {
    background-image: url(img/menu-performance.png);
    background-size: 156px 37px;
}
.performance-video-menu>li:last-child {
    background-image: url(img/menu-video.png);
    background-size: 156px 37px;
}
.performance-video-menu>li>a {
    text-align: center;
    font-size: 12px;
    color: var(--white-color);
}


/* --------------- associtaion-sponser --------------- */
.associtaion-sponser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.associtaion-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin-bottom: 40px;
}
.associtaion-menu-moniter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 21px;
    overflow: hidden;
}
.associtaion-all-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 126px;
}
.associtaion-slide {
    width: 320px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}
.associtaion-slide li {
    width: 76px;
}
.associtaion-slide a {
    width: 76px;
}
.associtaion-slide img {
    width: 76px;
}
.associtaion-buttons {
    display: flex;
    justify-content: center;
    width: 320px;
    padding-top: 16px;
}
.associtaion-buttons figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.associtaion-buttons img {
    width: 70%;
}

.sponser-contents {
    display: flex;
    flex-direction: column;
    width: 320px;
}
.sponser-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 21px;
}
.sponser-menu img {
    width: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}
.footer-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}
.logo-sns {
    width: 100%;
    margin-bottom: 40px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.sns-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu-copyright {
    width: 100%;
}
.footer-menu li {
    margin-bottom: 16px;
}
.footer-menu li a {
    color: var(--white-color);
}
.address {
    color: var(--white-color);
    font-size: 12px;
    margin-bottom: 6px;
}
.copyright {
    color: var(--gray-color);
    font-size: 12px;
}


.go-to-main {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}